faster-whisper>=1.2
onnx-asr>=0.6
onnxruntime-gpu
numpy
torch
transformers>=4.53
numpy
huggingface_hub
psutil
requests
yt-dlp
fastapi
uvicorn
pywebview
google-api-python-client
google-auth-oauthlib
pytest
httpx
